#container {
    display: grid;
    grid-template-columns: repeat(16, 40px);
    grid-template-rows: repeat(16, 40px);
    width: auto;
    height: 640px;
    justify-content: center;
}

#container > * {
    border-style: solid;
    border-width: 0.2ch;
}

.color {
    background-color: black;
}